.todo-list > .one-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
}
.todo-list > .one-task:hover {
    background: #7f859854;
}

.todo-list {
    overflow-y: auto;
    height: 90%;
}

.todo-item {
    display: flex;
}

.todo-item > label {
    padding: 0 0.8rem;
    cursor: pointer;
}

.todo-item > input {
    min-width: 1rem;
    min-height: 1rem;
    cursor: pointer;
}

.icons-wrapper {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}